# =========================
# Build outputs
# =========================
[Bb]in/
[Oo]bj/
**/bin/**
**/obj/**

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userprefs
*.csproj.user

# =========================
# NuGet
# =========================
packages/
*.nupkg

# =========================
# Logs & DB
# =========================
*.log
*.sqlite

# =========================
# IDEs
# =========================
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# =========================
# OS
# =========================
.DS_Store

# =========================
# Tests
# =========================
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
