@page "/"

<PageTitle>Inicio | Punto de Venta</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-lg border-0 rounded-3 text-center">
                <div class="card-body p-5">

                    <div class="mb-4 text-primary">
                        <span class="oi oi-graph" style="font-size: 5rem;"></span>
                    </div>

                    <h1 class="display-6 fw-bold mb-3">
                        Bienvenido a tu cotizador
                    </h1>

                    <p class="lead text-muted mb-4">
                        Sistema de gestión web sincronizado.
                    </p>

                    <div class="text-secondary small">
                        <span class="oi oi-check me-1"></span> Jaegersoft
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>